body {
	font-family: Arial, sans-serif;
	background-image: url('edu.jpg');
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section {
	background-color: #eee;
	padding: 2em;
	margin: 2em;
	width: calc(33.33% - 2em);
}

h2 {
	color: #333;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 1em;
	border-bottom: 1px solid #ccc;
}

li:last-child {
	border-bottom: none;
}